* {
  box-sizing: border-box;
}

body{
  background: url('../Minto.png') top center no-repeat;
  margin: 0 auto;
  height: $body-height;
  width: 730px;
  font-family: 'Noto Sans';
  color: $font-color;

}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container-center {
  @extend .flex-container;
  justify-content: center;
}